/* Universal selector */
*{
    margin: 0;
    padding: 0;
}

/* Element Selector */
h1{
    color: aqua;

}

/* Class Selector */
.para{
    color: rebeccapurple;
}

.extra{
    font-size: 30px;
}

/* ID Selector */
#id1{
    color: brown;
    font-size: 40px;
}




/* selector lists use by using , between them */
.class1 , .class7 , #id4{
    background-color: black;
}