
/* Clockwise padding value top,right,bottom,left */
div{
    padding: 10px 20px 5px 20px ;
    margin: 10px;
    border: 3px solid red;
    color: #a3f5d4;
}
h1{
    color: #f3ec19;
}
p{
    color: #a3f5d4;
}
body{
    background-image: url(https://images.pexels.com/photos/30417370/pexels-photo-30417370/free-photo-of-snowy-mountains-under-clear-blue-sky.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}